[submodule "src/vendor/github.com/satori/go.uuid"]
	path = src/vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid.git
[submodule "src/github.com/alecthomas/gometalinter"]
	path = src/github.com/alecthomas/gometalinter
	url = https://github.com/alecthomas/gometalinter
[submodule "src/vendor/golang.org/x/crypto"]
	path = src/vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/vendor/gopkg.in/yaml.v2"]
	path = src/vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/vendor/github.com/derekparker/trie"]
	path = src/vendor/github.com/derekparker/trie
	url = https://github.com/derekparker/trie.git
[submodule "src/vendor/github.com/mitchellh/go-wordwrap"]
	path = src/vendor/github.com/mitchellh/go-wordwrap
	url = https://github.com/mitchellh/go-wordwrap
[submodule "src/vendor/github.com/gorilla/websocket"]
	path = src/vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "src/vendor/github.com/rcrowley/go-metrics"]
	path = src/vendor/github.com/rcrowley/go-metrics
	url = https://github.com/rcrowley/go-metrics.git
[submodule "src/vendor/github.com/abiosoft/ishell"]
	path = src/vendor/github.com/abiosoft/ishell
	url = https://github.com/abiosoft/ishell.git
[submodule "src/vendor/github.com/abiosoft/readline"]
	path = src/vendor/github.com/abiosoft/readline
	url = https://github.com/abiosoft/readline.git
[submodule "src/vendor/github.com/flynn-archive/go-shlex"]
	path = src/vendor/github.com/flynn-archive/go-shlex
	url = https://github.com/flynn-archive/go-shlex.git
[submodule "src/vendor/github.com/fatih/color"]
	path = src/vendor/github.com/fatih/color
	url = https://github.com/fatih/color.git
